<p>
  <strong>Result:</strong>
  <%= @prediction.dm_label ? "Positive for Diabetes/Pre-DM" : "Negative" %>
</p>
<% if @prediction.dm_label %>
  <%= image_tag 'diabetes_positive.png' %>
<% else %>
  <%= image_tag 'diabetes_negative.png' %>
<% end %>
